/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  flex-direction: column; /* Asegura que los elementos se apilen verticalmente */
  min-height: 100vh; /* Asegura que el body tome al menos el alto de la pantalla */
}

#detalleSudadera {
  display: flex;
  flex-direction: row; /* Cambio para disposición en fila */
  justify-content: center; /* Centra los elementos en el eje principal */
  align-items: start; /* Alinea los elementos al inicio en el eje cruzado */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no hay suficiente espacio */
  gap: 20px; /* Espacio entre los elementos */
  width: auto;
  height: auto;
  max-width: 100%; /* Asegura que no exceda el ancho de la pantalla */
  border: 1px solid #ccc;
  padding: 20px;
  box-sizing: border-box;
  margin-bottom: 50px; /* Espacio entre el detalle y cualquier contenido siguiente */
}

#fotitos {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente si se necesita */
  justify-content: flex-start; /* Alinea los elementos al inicio en el eje vertical */
}

.detalle-producto {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Alinea los elementos al inicio en el eje vertical */
}

/* Contenedor y estilos de las imágenes */
#fotoPrincipal {
  width: 250px; /* Ajusta según necesidad */
  height: 250px;
  border-radius: 10px;
  align-self: flex-start;
  /*object-fit: contain;*/
  object-fit: cover;
  border-radius: 20px;
}

#contenedorFotosSecundarias {
  display: flex;
  flex-direction: row-reverse; /* Cambia a disposición en fila */
  justify-content: space-around; /* Centra los elementos hijos horizontalmente */
  flex-wrap: wrap; /* Permite que los elementos se envuelvan si no caben en una sola línea */
  margin-top: 10px;
  align-self: flex-start;
}

#contenedorFotosSecundarias img {
  width: 75px; /* Ajusta según necesidad */
  height: 75px;
  max-width: 100px; /* Tamaño de fotos secundarias */
  margin: 5px; /* Ajusta el espaciado alrededor de las fotos para un diseño uniforme */
  border-radius: 5px;
}

#ContenerdorTodasfotos {
  display: flex;
}
/* Contenedor y estilos de los detalles del producto */

.detalle-producto h2,
.detalle-producto p {
  margin: 5px 0;
}

/* Estilos para el botón 'Volver' */
.btn-volver {
  background-color: #007bff; /* Azul medio para el botón */
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: block; /* Hace que el botón sea un bloque para aplicar margen automático */
  margin: 0 auto; /* Centra el botón horizontalmente */
}

/* Ajustes para responsividad */
@media (max-width: 768px) {
  #detalleSudadera {
    flex-direction: column;
    align-items: center;
  }

  #fotoPrincipal,
  #contenedorFotosSecundarias img {
    max-width: 100%;
  }

  .detalle-producto {
    margin-left: 0;
    margin-top: 20px;
  }
}
