# Ignorar la carpeta node_modules en cualquier nivel de profundidad
node_modules/

# Ignorar archivos ZIP a cualquier nivel de profundidad
**/*.zip

# Ignorar archivos RAR a cualquier nivel de profundidad
**/*.rar
