<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Buscar en Star Wars</title>
</head>
<body>
    <h1>Buscar en Star Wars</h1>
    <form action="/swapi/buscar" method="get">
        <input type="text" name="nombre" placeholder="Escribe el nombre del personaje">
        <button type="submit">Buscar</button>
    </form>
</body>
</html>
