@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap");
@import "bourbon";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

body {
    font-family: "Nunito", "Montserrat", sans-serif;
    overflow-x: hidden;
}

@keyframes pulse {
    0% {
        text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
    50% {
        text-shadow: 0 0 20px rgba(0, 255, 0, 0.9);
    }
    100% {
        text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);
    }
}

.pulso {
    color: rgb(0, 255, 0);
    animation: pulse 2s infinite;
    text-decoration: none;
    font-size: 45px;
}
.textoGuapo {
    color: #fff;
    font-size: 20px;
}
.nav-contenedor {
    width: 100vw;
    height: 100vh;
    background-color: #06151f;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    background-color: #06151f;
    position: fixed; /* Hace que la barra de navegación sea fija en la parte superior */
    top: 0; /* Posición fija desde el borde superior de la ventana del navegador */
    left: 0; /* Asegura que la barra de navegación se alinee con el lado izquierdo de la ventana */
    width: 100%; /* Se extiende a lo largo de todo el ancho de la ventana */
    height: 50px;
    z-index: 1000; /* Se asegura de que la barra de navegación esté sobre otros contenidos */
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;
}

.menu a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border: #035400 0.5px solid;
    background-color: #035400;
    border-radius: 10px 5px 10px 5px; /* 5px para esquina izquierda arriba y esquina derecha abajo */
    display: inline-block;
    transition: 0.2s;
    box-shadow: 0 0 0 0 rgba(0, 255, 0, 0);
}

.menu li:hover a {
    background-color: #036000;
    border: #035400 2px none;
    color: #06151f;
    border-radius: 20px; /* Asegura bordes redondeados */
    animation: pulseBorder 1s infinite; /* Aplica la animación de 'borde' */
}

@keyframes pulseBorder {
    0% {
        box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.5);
    }
    50% {
        box-shadow: 0 0 20px 2px rgba(0, 255, 0, 0.9);
    }
    100% {
        box-shadow: 0 0 5px 2px rgba(0, 255, 0, 0.5);
    }
}

.menu .active {
    color: rgb(0, 255, 0);
}

.menu li a:hover {
    color: #000504;
}

.main {
    margin: 0 auto;
    width: 80vw;
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2em;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2.2em;
}

.contenido-info span {
    color: rgb(0, 255, 0);
}

/* Estilos para la imagen dentro de .main */
.main img {
    margin-top: 100px; /* Ajusta este valor según la altura real de tu navbar */
    border: 0.5px solid rgb(0, 59, 0);
    width: 350px;
    height: 520px;
    z-index: 1;
    border-radius: 20px;
    pointer-events: none;
    background: linear-gradient(120deg, rgb(0, 255, 0), rgb(0, 0, 255));
    background-size: 200% 200%; /* Amplía el tamaño del fondo para el efecto */
    animation: rotarDegradado 3s linear infinite; /* Aplica la animación */
    margin-left: 27%;
}

/* Definición de los keyframes para simular la rotación del degradado */
@keyframes rotarDegradado {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.about {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    margin: 0 auto;
    width: 100vw;
    height: 80vh;
    align-items: center;
}

.about img {
    width: 100%;
    grid-column: 1/5;
}

.about-info {
    grid-column: 5/10;
    padding: 3em;
}

.about-info h2 {
    font-size: 2em;
    color: #06151f;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: rgb(4, 255, 0);
    margin-top: 5px;
    margin-bottom: 2em;
}

.about p {
    margin-bottom: 1em;
}

/* Esta es la parte de proyectos */
.proyecto-container {
    margin-top: 250px;
    width: 100vw;
    min-height: 100vh;
    background-color: #06151f;
    display: flex;
    justify-content: center; /* Asegura el centrado horizontal */
    align-items: center; /* Asegura el centrado vertical */
    flex-direction: column;
    padding: 2em 0; /* Ajusta según necesidad para el espacio superior e inferior */
}
.proyecto-info {
    text-align: center;
}

.proyecto-info h2 {
    color: rgb(0, 255, 0);
    margin-top: 100px;
}

.proyecto-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
    width: 80%; /* Puede ajustarse para controlar el ancho de la cuadrícula */
    margin: 0 auto; /* Centra la cuadrícula horizontalmente */
    justify-content: center; /* Centrado de los ítems dentro de la cuadrícula */
}

.proyecto-item {
    background-color: #ffffffa1;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centrado de contenido dentro de la tarjeta */
    justify-content: space-between; /* Espacio distribuido dentro de la tarjeta */
    overflow: hidden;
    padding: 1em; /* Espacio interno para la tarjeta */
}

.proyecto-item img {
    width: 100%; /* Asegura que la imagen cubra el ancho */
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.proyecto-item:hover {
    transform: translateY(-5px);
}

.proyecto-item:hover img {
    transform: scale(1.05);
}

.proyecto-item h3,
.proyecto-item button {
    margin-top: 1em; /* Espacio adicional arriba para texto y botón */
    text-align: center;
}

.comprar-boton {
    display: inline-block;
    background-color: rgb(3, 67, 3); /* Color de fondo */
    color: white; /* Color de texto */
    text-align: center;
    padding: 0.5em 1em; /* Espaciado interno */
    text-decoration: none; /* Elimina el subrayado del enlace */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cursor tipo mano */
    transition: background-color 0.3s ease; /* Transición suave del color de fondo */
}

.comprar-boton:hover {
    background-color: rgb(0, 0, 0); /* Color de fondo al pasar el cursor */
    /* No es necesario repetir las propiedades que no cambian */
}
.texto {
    font-size: 30px;
    color: #fff;
}

.imagen-proyecto {
    filter: grayscale(100%); /* Imágenes comienzan en blanco y negro */
    transition: filter 0.3s ease; /* Transición suave para el efecto */
}

.imagen-proyecto:hover {
    filter: grayscale(0%); /* Al hacer hover, la imagen recupera sus colores */
}

/* Estilos específicos para la sección de tecnologías */
.tecnologia-container {
    margin-top: 50px;
    width: 100vw;
    min-height: 100vh;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    
    flex-direction: column;
    padding: 1em 0;
}

.tecnologia-info {
    text-align: center;
}

.tecnologia-info h2 {
    color: #06151f;
    padding-top: 10px;
    margin-bottom: 5px;
}

.tecnologia-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    width: 50%;
    margin: 0 auto;
}

.tecnologia-item {
    background-color: #ffffffa1;
    color: #000;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.267);
    transition: transform 0.3s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Ajustado para centrar verticalmente el contenido */
    padding: 1em; /* Espacio interno para la tarjeta */
    text-align: center; /* Asegura que el texto esté centrado */

}

.tecnologia-item i {
    margin-bottom: 20px; /* Espacio entre el icono y el texto */
    color: rgba(0,0,0); /* Color de los iconos */
}

.tecnologia-item a {
    text-decoration: none; /* Elimina la línea de subrayado de los enlaces */
    color: black; /* Establece el color del texto de los enlaces a negro */
}

/* Mejoras en la interacción */
.tecnologia-item:hover {
    transform: translateY(-5px);
    background-color: #ffffff; /* Cambio de color al hacer hover */
}

.tecnologia-item:hover i {
    color: rgb(8, 95, 0); /* Cambio de color de iconos al hacer hover */
}

html {
    scroll-behavior: smooth;
}

/* Media Query para dispositivos con pantalla menor a 768px */
@media (max-width: 768px) {
    .navbar {
        display: none; /* Oculta la navbar en pantallas pequeñas */
    }

    .main, .about, .proyecto-container, .tecnologia-container {
        width: 95vw; /* Ajusta el ancho para pantallas pequeñas */
        grid-template-columns: 1fr; /* Cambia la disposición de las grillas para que sean verticales */
    }

    .main img, .about img {
        width: 50%; /* Reduce el tamaño de las imágenes */
        height: auto; /* Mantiene la proporción de las imágenes */
        margin-left: auto; /* Centra las imágenes en la pantalla */
        margin-right: auto;
        display: block; /* Asegura que la imagen no mantenga configuraciones de flex */
    }

    .proyecto-grid, .tecnologia-grid {
        grid-template-columns: 1fr; /* Ajusta las grillas de proyectos y tecnologías para una sola columna */
    }
}
